body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

table{
    padding-top: 30px;
    width: 30%;
    height: 400px;
}

td{
    text-align: center;
    padding: 20px;
    width: 33.33%
}

.right{
    border-left: 1px solid #ddd;
}

.left{
    border-right: 1px solid #ddd;
}

.center{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

